
.archive-body
    background-color backgroundx2
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    margin-top 8px
    margin-left 8px
    
    position absolute
    left calc(100% - 450px)
    top 58px

    width 426px
    height calc(100vh - 80px)
    
    overflow scroll
    
.title-listing
    float left
    width 100%
    
    &:hover
        background-color offBlue
        color pointier
        
    &:active
        color pointier
        background-color ignorable0
        
.archive-buttons
    width 426px
    height 48px
    position absolute
    bottom 0px
            

.archive-button
    display inline-block
    padding auto
    
    height 44px
    width 209px
    
    text-align center
    
    border-top 2px solid ignorable1
    border-left 2px solid ignorable1
    border-right 2px solid ignorable3
    border-bottom 2px solid ignorable3
    
    background-color ignorable2
    line-height 44px
    
    cursor pointer
    
    &.nulled
        color ignorable0
        &:hover
            color ignorable0
    
    &:hover
        color pointier
        
    &:active   
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1