.nav-bar
    width calc(100% - 12px)
    margin 2px
    margin-top 8px
    
.nav-item
    margin-right 18px
    padding 4px
    cursor pointer

    &.selected
        color pointier
    &:hover
        background-color ignorable0
        color pointier
    &:active
        background-color pointier
        color ignorable3


a
    -webkit-font-smoothing none
    margin 0
    font-family hfnss
    color pointColor
    font-size 2em
    text-decoration none