p
  font-family hfnss
  color pointColor
  -webkit-font-smoothing none
  margin 0
  padding 0
  font-size 2em
  
.big
  font-size 4em
  

.page-title
    font-family hfnss1
    color pointColor
    font-size 6em
    -webkit-font-smoothing subpixel-antialiased