.post-body
    background-color backgroundx2
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    margin-top 8px
    margin-left 8px

    width calc(100% - 466px)
    height calc(100vh - 80px)
    
    overflow scroll
    
    
.post-section
    padding 4px
    margin-bottom 4px

.odd
    background-color offBlueDarker
    
.logic
    p
        font-family HFLLG
    
.title
    font-size 2em
    


